# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
venv/
.env/

# Jupyter
.ipynb_checkpoints/

# Data files
data/
*.csv
*.zip

# Models & artifacts
*.pkl
*.joblib

# Streamlit
.streamlit/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Matplotlib
*.png
*.jpg

# Temporary files
*.tmp